{% extends "admin/base.html" %}

{% block subtitle %}{{ _("Rebuild Search Index") }} {{ g.template_title_delimiter }} {{ super() }}{% endblock %}

{% block secondary_content %}
  {{ super() }}
  {% block secondary_help %}
    <div class="module module-narrow module-shallow">
      <h2 class="module-heading">
        <i class="fa fa-lg fa-info-circle"></i>
        {{ _('Why re-index?') }}
      </h2>
      <div class="module-content">
        {% trans %}
          <p></p>
        {% endtrans %}
      </div>
    </div>
  {% endblock %}
{% endblock %}
