/* (canada fork only): promise-download module */
/* Promise Download Module */
@keyframes promiseDownload__flashDownload{
  0%{
    transform: scale(1.25);
  }
  100%{
    transform: scale(0.75);
  }
}
@keyframes promiseDownload__spinDownload{
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(180deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
.promise-download-icon{
  margin-right: 10px;
  overflow: visible;
  white-space: nowrap !important;
}
.promise-download-icon i.fa-cloud-download{
  color: #17a2b8 !important;
  animation-name: promiseDownload__flashDownload;
  animation-duration: 1500ms;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
.promise-download-icon i.fa-spinner{
  color: #17a2b8 !important;
  animation-name: promiseDownload__spinDownload;
  animation-duration: 1500ms;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
.promise-download-icon i.fa-check-circle{
  color: #28a745 !important;
}
.promise-download-icon i.fa-exclamation-circle{
  color: #ffc107 !important;
}
#promise-download-shelf{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  min-height: 33px;
  background: #E1E4E7;
  z-index: 50;
  border-top: 2px solid #26374a;
  margin-right: -2px;
}
#promise-download-shelf-inner{
  padding: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
}
#promise-download-shelf-inner strong{
  margin-right: 35px;
  white-space: nowrap !important;
}
#promise-download-shelf-list{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
}
#promise-download-alert{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 99;
  background: rgba(255, 255, 255, 0.45);
}
#promise-download-alert-inner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#promise-download-alert-inner span{
  font-weight: 600;
  font-size: 36px;
}
#promise-download-alert-inner i.fa-spinner{
  animation-name: promiseDownload__spinDownload;
  animation-duration: 1500ms;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
/* END Promise Download Module END */
