<div class="form-group">
  <div class="controls">
    {# (canada fork only): CSP support #}
    <script src="https://www.google.com/recaptcha/api.js" none="{{- h.get_inline_script_nonce() if 'get_inline_script_nonce' in h else '' -}}" async defer></script>
    <div class="g-recaptcha" data-sitekey="{{ public_key }}"></div>

    <noscript>
      <div class="user-recaptcha-wrapper">
        <div class="user-recaptcha-frame">
          <iframe class="user-recaptcha-frame" title="Recaptcha" src="https://www.google.com/recaptcha/api/fallback?k={{ public_key }}" frameborder="0" scrolling="no"></iframe>
        </div>

        <div class="user-recaptcha-text-wrapper">
          <textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response user-recaptcha-text"></textarea>
        </div>
      </div>
    </noscript>
  </div>
</div>
