{% ckan_extends %}

{% block breadcrumb_content %}
  <li class="active"><a href="{{ h.url_for('activity.dashboard') }}">{{ _('Dashboard') }}</a></li>
{% endblock %}

{% block dashboard_nav_links %}
  {{ h.build_nav_icon('activity.dashboard', _('News feed'), icon='list') }}
  {{ super() }}
{% endblock %}


{% block primary_content_inner %}
  <div data-module="dashboard">
    {% snippet 'user/snippets/followee_dropdown.html', context=dashboard_activity_stream_context, followees=followee_list %}
    {# (canada fork only): removal of extra page_header call inside of block primary_content_inner, it is already in block primary #}
    {% snippet 'snippets/stream.html', activity_stream=dashboard_activity_stream %}
  </div>

  {% snippet 'snippets/pagination.html', newer_activities_url=newer_activities_url, older_activities_url=older_activities_url %}

{% endblock %}
