{% extends "user/read_base.html" %}

{% set group_type = h.default_group_type('organization') %}

{# (canada fork only): fix title TODO: upstream contrib!! #}
{% block subtitle %}{{ user.display_name }} {{ g.template_title_delimiter }} {{ _('Organizations') }}{% endblock %}

{% block primary_content_inner %}
  {# (canada fork only): messy humanization on our setup #}
  <h2 class="hide-heading">{{ _('Organizations') }}</h2>
  {% if orgs_available %}
    <div class="wide">
      {% snippet "organization/snippets/organization_list.html", organizations=orgs_available, show_capacity=True %}
    </div>
  {% else %}
    <p class="empty">
      {% if is_myself %}
        {# (canada fork only): messy humanization on our setup #}
        {{ _('You are not a member of any organizations.') }}
      {% else %}
        {# (canada fork only): messy humanization on our setup #}
        {{ _('User isn\'t a member of any organizations.') }}
      {% endif %}
    </p>
  {% endif %}
{% endblock %}
